{% extends 'base.html' %}
{% block main %}
<div class="form-container">
    <h1>Contact Form</h1>
    <hr>
    <p class="form-desc">Fill in this form to contact the site owners.</p>
    <form action="/contact" method="POST">
      {{ form.csrf_token }}
      <div class="field-box">
        <p class="field-title">{{ form.name.label }}<span class="required-txt"> (Required)</span></p>
        <p>Please enter your full name</p>
        {{ form.name(size=20,class='test') }}
      </div>
      <div class="field-box">
        <p class="field-title">{{ form.email.label }}<span class="required-txt"> (Required)</span></p>
        <p>Please enter your email address</p>
        {{ form.email(size=20) }}
      </div>
      <div class="field-box">
        <p class="field-title">{{ form.subject.label }}<span class="required-txt"> (Required)</span></p>
        <p>Please enter the subject for your message</p>
        {{ form.subject(size=20) }}
      </div>
      <div class="field-box">
        <p class="field-title">{{ form.message.label }}<span class="required-txt"> (Required)</span></p>
        <p>Please enter the message you would like to send</p>
        {{ form.message(width=100) }}
      </div>
      <button type="submit" class="send-btn">Send</button>
    </form>
</div>
{% endblock %}